/* barlow-regular - latin-ext_latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: local('Barlow Regular'), local('Barlow-Regular'),
    url('./assets/fonts/barlow-v4-latin-ext_latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/barlow-v4-latin-ext_latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* barlow-700 - latin-ext_latin */
@font-face {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    src: local('Barlow Bold'), local('Barlow-Bold'),
    url('./assets/fonts/barlow-v4-latin-ext_latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('./assets/fonts/barlow-v4-latin-ext_latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
