ion-item {
    --detail-icon-color: var(--ion-color-primary);
    --detail-icon-opacity: 1;

    &:last-child {
        --border-width: 0 !important;
        --inner-border-width: 0;
    }
}

ion-title {
    text-transform: uppercase;
}
